.banner-principal {
  display: grid;
  grid-template: 
    "produto-principal imagem1 imagem2"
    "produto-principal imagem3 imagem4";
    justify-content: center;
    gap: 1rem;
}

.banner-principal__imagem {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.banner-principal__imagem1 {
  grid-area: produto-principal;
  width: 500px;
  height: -webkit-fill-available;
  border-radius: 10px;
}

.banner-principal__imagem2 {
  grid-area: imagem1;
}

.banner-principal__imagem3 {
  grid-area: imagem2;
}

.banner-principal__imagem4 {
  grid-area: imagem3;
}

.banner-principal__imagem5 {
  grid-area: imagem4;
}

