.cabecalho {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.cabecalho__navegacao {
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cabecalho__logo{
  width: min-content;
}

.cabecalho__lista {
  display: flex;
}

.cabecalho__item {
  padding-left: 3rem;
}

.cabecalho__link {
  color: #FFF;
}

.cabecalho__link:hover{
  color: var(--primary);
}

.cabecalho__busca-botao {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
}

.cabecalho__busca {
  width: 40%;
  border-radius: 10px;
  border: none;
  padding-left: 20px;
  background-color: var(--gray-light);
}

