.leilao-informacoes {
  display: flex;
}

.leilao-informacoes__imagem {
  width: 500px;
  height: 500px;
}

.leilao-informacoes__dados {
  padding-left: 2rem;
}

.leilao-informacoes__tabela {
  font-size: 1.5rem;
  color: var(--primary);
}

.leilao-informacoes__coluna {
  padding-left: 1.5rem;
  color: var(--light);
}